<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <!--    状态栏控制-->
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <!-- 相机权限：扫码需要 -->
    <key>NSCameraUsageDescription</key>
    <string>需要使用相机进行扫码</string>

    <!-- 允许 HTTP 请求，开发环境用 -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- 访问局域网 IP，比如 192.168.x.x -->
    <key>NSLocalNetworkUsageDescription</key>
    <string>需要访问局域网服务器进行调试</string>
</dict>
</plist>